* {
    font-family: Helvetica, sans-serif;
    overflow: hidden;
}
html {
    cursor: none;
}
main {
    width: 100%;
    height: 100vh;
    background-color: #f4644c;
    cursor: none;
}
.main_wrap {
    width: 100%;
    height: 100%;
    padding-bottom: 70px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
h1 {
    font-weight: 800;
    font-size: 100px;
}
p {
    font-size: 25px;
    color: #212121;
}

.main_wrap h1 {
    color: #f7f97b;
}
.btn_wrap {
    display: flex;
    gap: 30px;
    margin-top: 40px;
}
.btn {
    width: 370px;
    height: 100px;
    border-radius: 35px;
    background-color: #212121;
}
.btn h5 {
    font-size: 30px;
    font-weight: 800;
    color: #75b5ea;
    text-align: center;
    line-height: 100px;
}
.btn a {
    display: block;
    width: 100%;
    height: 100%;
}
.cursor {
    display: none;
    width: 150px;
    position: absolute;
    z-index: 2;
}
.cursor > img {
    width: 100%;
}
.juice {
    position: absolute;
    bottom: -7%;
    left: 3%;
    width: 25%;
}
.chicken {
    position: absolute;
    top: 3%;
    left: -3%;
    width: 24%;
}
.burger {
    position: absolute;
    top: 3%;
    right: 0%;
    width: 28%;
}
.fries {
    position: absolute;
    top: 30%;
    right: 3%;
    width: 10%;
}
.donut {
    position: absolute;
    bottom: 5%;
    right: 3%;
    width: 10%;
}
div > img {
    width: 100%;
}
.image {
    transition: 0.5s;
    animation-duration: 1s;
    animation-name: images;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes images {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(10%);
        scale: 1.05;
    }
}
