main#result {
    background-color: #fefefe;
    cursor: none;
}
#result h1 {
    color: #f4644c;
}
#result .btn h5 {
    color: #f7f97b;
}
p.cate {
    color: #75b5ea;
    margin-bottom: -15px;
    font-weight: 400;
}
.back_btn {
    position: absolute;
    top: 50px;
    left: 50px;
}
.back_btn > a {
    width: 45px;
    display: block;
}
.back_btn img {
    width: 100%;
}
